<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Đăng ký</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/common.css"/>
</head>

<body>
<form id="form1" action="/" method="post">
  <!--start bg_Topmenu-->
  <div class="bg_Topmenu">
    <div id="Topmenu">
      <ul>
        <li class="First topMenu_Account"> <a href="register.html"><span>Tài khoản của tôi</span></a> </li>
        <li class="topMenu_Order"> <a href="#"><span>Quản lý đơn hàng</span></a> </li>
        <li class="topMenu_Wishlist"> <a href="#"><span>Danh sách ưa thích</span></a> </li>
        <li class="CartLink topMenu_Cart"> <a href="store.html"><span>Giỏ hàng</span></a> </li>
        <li class="topMenu_Login"> <a href="login.html"><span>Đăng nhập</span></a> </li>
        <li class="topMenu_Register"> <a href="register.html"><span>Đăng ký</span></a> </li>
      </ul>
    </div>
  </div>
  <!--end bg_Topmenu-->
  <div class="Clear"></div>
  <!--start bg_header-->
  <div id="bg_header">
    <div id="Header">
      <div id="Logo">
        <div id="LogoContainer">
          <h1><a href="#">"bizmart"<span></span></a></h1>
        </div>
      </div>
      <!--end Logo-->
      <div id="Menu">
        <div id="menu-container">
          <ul id="nav">
            <li class="current"><a href="home.html" title="Trang chủ"><span>trang chủ</span></a></li>
            <li><a href="about.html" title="Giới thiệu"><span>Giới thiệu</span></a></li>
            <li class="lever3"><a href="product.html" title="Sản phẩm"><span>Sản phẩm</span></a>
              <ul class="lever10">
                <li class="first10"><a href="#"><span>Máy tính xách tay</span></a></li>
                <li ><a href="#"><span>Máy tính bảng</span></a></li>
                <li class="last10"><a href="#"><span>Điện thoại di động</span></a>
                  <ul class="lever11">
                    <li class="lever11first"><a href="#"><span>APPLE</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="news.html" title="Tin tức"><span>tin tức</span></a></li>
            <li><a href="map.html" title="Bản đồ"><span>bản đồ</span></a></li>
            <li><a href="contact.html" title="Liên hệ"><span>Liên hệ</span></a></li>
          </ul>
        </div>
      </div>
      <!--end Menu-->
      <div class="Clear"></div>
    </div>
  </div>
  <!--end bg_header--> 
  <!--start bg_Container-->
  <div id="Container">
    <div id="Outer">
      <div id="Wrapper">
        <div id="Breadcrumb" class="Breadcrumb">
          <ul>
            <li class="first"> <a href="#">Trang chủ</a> </li>
            <li> <a href="register.html"> Tài khoản của tôi</a> </li>
            <li> <span>Đăng nhập hệ thống</span> </li>
          </ul>
        </div>
        <div class="Clear"></div>
        <div id="SearchForm" >
          <div id="SearchFormContainer" style="position:relative; z-index:10000;">
            <input id="ct1Search_ct100_txtSearch" class="search-input" type="text" autocomplete="off" onKeyUp="SearchInstant()" name="ctl00$ctlSearch$ctl00$txtSearch"/>
            <input id="ct1Search_ct100_btnSearch" class="search-button" type="submit" onClick="javascript:return OnSearchClick();" value="" name="ctl00$ctlSearch$ctl00$btnSearch"/>
          </div>
        </div>
        <!--end SearchForm-->
        <div id="cphpMain-Content">
          <div id="cphMain_ctl00_TopPane" class="top"></div>
          
          <!-- -------------------------------- -->
          <div id="cphMain_ct100_LeftPane" class="left">
            <div id="cate-menu" class="DefaultModule cate-menu">
              <div class="defaultTitle cate-menu-title"> <span style="padding-left:10px;">Danh mục sản phẩm</span> </div>
              <div class="defaultContent cate-menu-content">
                <ul>
                  <li class="leve10 content-first"> <a href="#"><span style="font-weight:bold;">Điện thoại di động</span></a>
                    <ul style="display:block">
                      <li class="leve11 first"> <a href="#"><span>Iphone</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Samsung</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Nokia</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <!--CONTENT2-->
                  <li class="leve10 content-2"> <a href="#"><span style="font-weight:bold;">Máy tính bảng</span></a>
                    <ul style="display:block">
                      <li class="leve11 first"> <a href="#"><span>Ipad</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Lenovo</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Samsung</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <!--content3-->
                  <li class="leve10 content-first"> <a href="#"><span style="font-weight:bold;">Laptop</span></a>
                    <ul style="display:block">
                      <li class="leve11 first"> <a href="#"><span>Acer</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Lenovo</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Vaio</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <!--content4-->
                  <li class="leve10 content-first"> <a href="#"><span style="font-weight:bold;">Phụ kiện</span></a>
                    <ul style="display:block">
                      <li class="leve11 first"> <a href="#"><span>Phụ kiện máy tính</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                      <li class="leve11"> <a href="#"><span>Phụ kiện điện thoại</span></a>
                        <ul style="display:block;">
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="defaultFooter cate-menu-footer">
                <div></div>
              </div>
            </div>
          </div>
          <!-- -------------------------------- -->
          <div id="cphMain_ctl00_ContentPane" class="center center_right">
          	<div class="Account-Module DefaultModule">
            	<div id="cphMain_ctl00_ctl00_ctl00_Passport_SignIn">
                	<div id="LoginForm" class="DefaultModule LoginForm Block">
                    	<div class="BlockContent">
                        	<div class="FormAccountLogin">
                            	<div class="defaultTitle LoginForm-title">
                                	<h1>Đăng nhập hệ thống</h1>
                                </div>
                                <div class="defaultContent LoginForm-content">
                                	<p>
                                    	<span class="NormalRed"></span>
                                    </p>
                                    <div class="FormContainer HorizontalFormContainer NarrowFormContainer FormLoginContainer">
                                    	<dl>
                                        	<dt>Email:</dt>
                                            <dd>
                                            	<input id="txtEmail" class="NormalTextBox" type="text" style="width:150px;" name="txtEmail"/>
                                            </dd>
                                            <dt>Mật khẩu:</dt>
                                            <dd>
                                            	<input id="txtPassword" class="NormalTextBox" type="password" style="width:150px;" maxlength="30" name="txtPassword"/>
                                            </dd>
                                            <dt></dt>
                                            <dd>
                                            	<span class="Normal">
                                                	<input id="RememberCheckbox" type="checkbox" name="RememberCheckbox"/>
                                                    <label for="RememberCheckbox">Nhớ mật khẩu</label>
                                                </span>
                                            </dd>
                                            <dt></dt>
                                            <dd>
                                            	<input id="Btn_Login" class="Login_Button" type="submit" value="Đăng nhập" name="Btn_Login"/>
                                                <a href="#" style="color:#77bc1d;">Quên mật khẩu?</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="defaultFooter LoginForm-footer"></div>
                            </div>
                        </div>
                        <br class="clear"/>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- end class= center center_right-->
        <div id="cphMain_ctl00_BottomPane" class="bottom"></div>
      </div>
    </div>
    <!--end Wrapper-->
    <div class="Clear"></div>
    <!--end clear--> 
  </div>
  <!--end Outer-->
  
  </div>
  <!--end Container--> 
  <!--start Footer-->
  <div id="Footer">
    <div id="FooterContainer">
      <div style="width:100%; float:left;">
        <div id="footer_wrapper">
          <div id="thong_tin" class="bottom_box">
            <ul>
              <li> <a class="tieu_de" href="#">Điện thoại di động</a> </li>
              <li> <a href="#">Apple (Iphone)</a> </li>
              <li> <a href="#">Samsung</a> </li>
              <li> <a href="#">Nokia</a> </li>
              <li> <a href="#">Sony</a> </li>
            </ul>
          </div>
          <div id="ho_tro" class="bottom_box">
            <ul>
              <li> <a class="tieu_de" href="#">Máy tính bảng</a> </li>
              <li> <a href="#">Apple (Ipad)</a> </li>
              <li> <a href="#">Samsung</a> </li>
              <li> <a href="#">Asus</a> </li>
              <li> <a href="#">Lenovo</a> </li>
            </ul>
          </div>
          <div id="thong_tin" class="bottom_box">
            <ul>
              <li> <a class="tieu_de" href="#">Phụ kiện</a> </li>
              <li> <a href="#">Thẻ nhớ</a> </li>
              <li> <a href="#">Pin sạc</a> </li>
              <li> <a href="#">Cable</a> </li>
              <li> <a href="#">Headphone</a> </li>
            </ul>
          </div>
          <div id="thong_tin" class="bottom_box fr">
            <ul>
              <li> <a class="tieu_de" href="#">Về chúng tôi</a> </li>
              <li> <a href="#">Giới thiệu</a> </li>
              <li> <a href="#">Đăng ký</a> </li>
              <li> <a href="#">Đăng nhập</a> </li>
              <li> <a href="#">Contact</a> </li>
            </ul>
          </div>
          <div id="thong_tin" class="bottom_box bizmart_box">
            <ul>
              <li> <a class="tieu_de bizmart" href="#">C</a> <a href="#">ông ty Cổ phần Công nghệ DKT</a> </li>
              <li class="locate"> <a href="#"> <img src="image/locate.gif"/> 442 Độ Cấn, Ba Đình, Hà Nội </a> </li>
              <li class="ctinfo"> <a href="#"> <img src="image/bsphone.gif"/> +04 6674 2332 </a> <a href="#"> <img src="image/mail.gif"/> support$bizweb.vn </a> </li>
              <li class="fthotline"> <a href="#"> <span class="bold"> HOTLINE: <span>0934 515 339 - 04 6674 5832</span> </span> </a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="wrap_all"></div>
    </div>
    <div id="Powerby"> Thiết kế bởi <a href="#" target="_blank" title="Giải pháp thiết kế web bán hàng số 1 Việt Nam"> <strong>Bizweb</strong> </a><br/>
      &copy; Copyright 2008 - 2003 Bizweb.vn - Giải pháp thiết kế web bán hàng số 1 Việt Nam </div>
    <div class="Clear"></div>
  </div>
  <!--end Footer-->
</form>
<!--end form-->
</body>
</html>
